@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

html {
  --text_color: #4f4f4f;
  --title_color: #333;
  --background_color: #f4f6f9;
  --background_light: #eee;
  --background_color2: #fafafa;
  --button: #979797;
  --button_on: #02a9f4;
  --blue: #0ade;
  --dark_blue: #00f;
  --white: #fff;
  --review_border: #828282;
}
